<h2>Your Cart</h2>
<table width="122%">
	<%= render cart.line_items %> <!-- This renders the _line_item.html.erb template in views/line_items/  -->
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>

<% if @order.nil? %>
	<%= button_to 'Empty cart', cart, method: :delete, 
							data: { confirm: 'Are you sure?' }, remote: true %>

<!-- When those is put in the template of the same name with the folder, @cart should be changed to cart -->

	<%= button_to "Checkout", new_order_path, method: :get %>
<% else %>
	<%= link_to "Back", store_url %>
<% end %>