<div class="container" id="cart">
  <% if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <h2 align="center"><%= t(".title_cart") %></h2>
          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            </thead>
            <%= render @cart.line_items %> <!-- This renders the _line_item.html.erb template in views/line_items/  -->
            <tr class="total_line">
              <td></td>
              <td class="lead"><%= t(".total") %></td>
              <td class="lead"><%= number_to_currency(@cart.total_price) %></td>
            </tr>
          </table>

          <% if @order.nil? %>
              <div class="text-center">
                <%= link_to t('.empty'), @cart, method: :delete,
                            data: { confirm: t(".sure") }, class: 'btn btn-danger btn-lg' %>

                <!-- When those is put in the template of the same name with the folder, @cart should be changed to cart -->

                <%= link_to t('.checkout'), new_order_path, method: :get, class: 'btn btn-primary btn-lg' %>
          <% else %>
              <%= link_to t('.back'), store_url %>
              </div>
          <% end %>
      <% end %>
  <% end %>

  <% if @cart.line_items.empty? %>
      <p>Your cart is currently empty.</p>
  <% end %>
</div>
