<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @order.errors.count, model: t('activerecord.models.order')) %></h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%=raw message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 6 %>
  </div>

  <div class="field">
    <%= hidden_field_tag "product[category_ids][]", nil %>
    <% for category in Category.all %>
      <%= check_box_tag "product[category_ids][]",category.id, 
      @product.categories.include?(category), id: dom_id(category) %> <!-- No checkbox will be submitted if nothing's checked, that's why all the checks stay right there even if all are unchecked before submitting. That's why a hidden_field_tag is needed to make it default if nothing's checked. -->

      <!-- dom_id(category) is used to assign categories ids in the html form -->
      <%= label_tag dom_id(category), category.name %><br />
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
