<%= javascript_include_tag 'd3', 'data-turbolinks-track' => true  %>
<%= javascript_include_tag 'd3.layout.cloud', 'data-turbolinks-track' => true  %>
<%= javascript_include_tag 'index', 'data-turbolinks-track' => true  %>

<script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.5.7/jquery.fullPage.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.5.7/jquery.fullPage.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            'verticalCentered': false,
            'css3': true,
            'sectionsColor': ['#000', '#051846', '#000', '#fff'],
            'navigation': true,
            'navigationPosition': 'right',
            'navigationTooltips': ['Store Word Cloud', 'Web App Language Details', '#3']
        });

        setTimeout(function () {
            $('div .alert').remove();
        }, 2000);
    });
</script>

<% flash.each do |message_type, message| %>
    <% message_type = 'success' if message_type == 'notice' %>
    <% message_type = 'danger' if message_type == 'alert' %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%- # render 'store/carousel' -%>

<style>

    body{
        color: #333;
        font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    }

    /* Section 0
* --------------------------------------- */
    #section0{
        padding: 60px 0;
    }

    /* Section 1
    * --------------------------------------- */

</style>

<div id="fullpage">

  <div class="section" id="section0">
    <%= render :template => 'store/full_page/section0_word_cloud' %>
  </div>

  <div class="section" id="section1">
    <%= render :template => 'store/full_page/section1_chart' %>
  </div>

  <div class="section" id="section2">

  </div>

</div>

<%= render 'layouts/footer' %>
