<%= javascript_include_tag 'd3', 'data-turbolinks-track' => true  %>
<%= javascript_include_tag 'd3.layout.cloud', 'data-turbolinks-track' => true  %>
<%= javascript_include_tag 'index', 'data-turbolinks-track' => true  %>

<script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>

<%= stylesheet_link_tag 'jquery.fullPage', media: 'all' %>
<%= javascript_include_tag 'jquery.fullPage', 'data-turbolinks-track' => true  %>

<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            'verticalCentered': false,
            'css3': true,
            'sectionsColor': ['#000', '#051846', '#737373'],
            'navigation': true,
            'navigationPosition': 'right',
            'navigationTooltips': ['Store Word Cloud', 'Web App Language Details', 'Enjoy!']
        });

        setTimeout(function () {
            $('div .alert').remove();
        }, 2000);
    });
</script>

<% flash.each do |message_type, message| %>
    <% message_type = 'success' if message_type == 'notice' %>
    <% message_type = 'danger' if message_type == 'alert' %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<style>

    body{
        color: #333;
        font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    }

    /* Section 0
* --------------------------------------- */
    #section0{
        padding: 60px 0;
    }

    /* Section 1
    * --------------------------------------- */

</style>

<div id="fullpage">

  <div class="section" id="section0">
    <%= render :template => 'store/full_page/section0_word_cloud' %>
  </div>

  <div class="section" id="section1">
    <%= render :template => 'store/full_page/section1_chart' %>
  </div>

  <div class="section" id="section2">
    <%= render 'store/carousel' %>
    <h1 style="position: relative; top: 35%" align="center">
      Now enjoy your stay @ <kbd><%= link_to 'Jeremy\'s Bookstore', products_path %></kbd> :D
    </h1>
  </div>

</div>

<%= render 'layouts/footer' %>
