<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/'><%= @page_title || t(".title") %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav columns">
        <li><%= link_to 'Products', products_path %></li>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
        <li><%= link_to 'All Users', users_path %></li>
  <% end %>
<% end %>
        <li><%= link_to 'Categories', categories_path %></li>
      </ul>

      <form class='navbar-form navbar-left' role='search'>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button style='position:relative;top:0;' class="btn btn-primary glyphicon glyphicon-search" type="button"></button>
          </span>
        </div><!-- /input-group -->
      </form>

      <!--<%= a = "#{render 'layouts/footer'}".gsub!("\"", '\'') %>-->

      <ul class='nav navbar-nav navbar-right columns'>
        <li data-container="body" title="My Shopping Cart" data-html="true" data-toggle="popover" data-placement="bottom"
            data-content=''>
          <%= link_to @cart do %>
              My Cart
              <% if @cart %>
              <span class="badge">
                  <%= @cart.line_items.count %>
              </span>
              <% end %>
              <span class="caret"></span>
          <% end %>
        </li>
        <% if @cart %>
            <li id="sum"><a><b><%= number_to_currency(@cart.total_price) %></b></a></li>
        <% end %>
        <li><%= link_to 'Checkout', new_order_path, method: :get %></li>
<% if user_signed_in? %>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>My Account <span class='caret'></span></a>
          <ul class='dropdown-menu' role='menu'>
            <% if current_user.try(:admin?) %>
                <li><%= link_to "All Orders", orders_path %></li>
            <% elsif user_signed_in? %>
                <li><%= link_to "My Orders", orders_path %></li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>

<% else %>
        <li>
          <a style="cursor:pointer;" data-toggle="modal" data-target="#signInModel">Sign in</a>
        </li>
        <li>
          <a style="cursor:pointer;" data-toggle="modal" data-target="#signUpModel">Sign up</a>
        </li>
<% end %>  <!-- end user_signed_in? -->

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Sign in Modal Template-->
<%= render template: 'modals/sign_in.html.erb' %>
<!-- Sign up Modal Template-->
<%= render template: 'modals/sign_up.html.erb' %>
