<div id="banner">

  <% if @order.nil? %>
  <%= form_tag store_path, class: 'locale' do %>
    <%= select_tag 'set_locale', 
      options_for_select(LANGUAGES, I18n.locale.to_s),
                                    onchange: 'this.form.submit()' %>
    <%= submit_tag 'submit' %>
    <%= javascript_tag "$('.locale input').hide()" %>
  <% end %>
  <% end %>

  <%= link_to image_tag("logo.png", :height => "45"), store_path %>
  <%= @page_title || t(".title") %>
</div>