<!DOCTYPE html>
<html>
<head>
  <title>Jeremy's Online Bookstore</title>

  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   <script src="jquery.min.js"></script>
  <script src="/assets/jquery.bxslider.min.js"></script>
  <link href="/assets/jquery.bxslider.css" rel="stylesheet" />
</head>

<body class="<%= controller.controller_name %>" >
  
  <div class="container">
    <%= render 'layouts/header' %>
  </div>
  
  <div id="columns">
  

    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>