<!DOCTYPE html>
<html>
<head>

  <title>Jeremy's Online Bookstore</title>

  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap", media: "all",
    "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-responsive", media: "all",
    "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

</head>

<body class="<%= controller.controller_name %>">

<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->

<!-- <div style="position:fixed;width:auto;margin-top:400px"><%= debug(params) if Rails.env.development? %></div> -->

<header>
  <%= render "layouts/header" %>
</header>
  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to t(".home"), store_path %></li>
        <li><a href="http://www..../faq"><%= t(".questions") %></a></li>
        <li><a href="http://www..../news"><%= t(".news") %></a></li>
        <li><a href="http://www..../contact"><%= t(".contact") %></a></li>
      </ul>


<!-- @cart is apparently nil when we display an index of our products. Thatmakes sense, because it is set only in the store controller.  All we need to do is avoid displaying the cart at all unless this value is set. -->
    </div>

    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>